#container {
  display: block;
  margin:10px 20px;
  text-align: center;
  padding-top: 10px;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-segment-button{
  width: 20px;
  margin-top: 10px;
  border: 1px solid;
  margin-left: 10px;

  img{
    height: 45px;
    padding-top: 10px;

  }
}