app-login{
   
    #main{
        
        height: 100%;
        width: 100%;
        background: #DE6262;
        background: linear-gradient(to right, #FFB88C, #DE6262);
        color: #fff;
        overflow: hidden;
        font-family: 'Dosis', sans-serif;

        .login-box{
            display: block;
            height: 400px;
            width: 25%;
            border: 1px solid #fff;
            margin: 10% auto;
            border-radius: 30px;
            text-align: center;

            p{
                font-weight: bold;
            }

            p:first-child{
                margin: 40px auto;
                padding-bottom: 30px;
                font-size: 20px;
                border-bottom: 1px solid #fff;
                width: 80%;
            }

            button{
                height: 50px;
                width: 200px;
            }

            .mat-form-field-infix{
                width: 294px;
                height: 14px;
               
                
            }
            .mat-form-field-appearance-outline .mat-form-field-outline {
                color: white;
            }

            input.mat-input-element {
                color: white;
                font-weight: bold;

                
            }

            ::ng-deep .mat-input-placeholder { 
                color: #fff;
             }

        }

        .loader{
            margin: -150px auto;
            width:10%;
            img{
                width: 40%;
                margin: 0 auto;
                display: block;
            }
        }
    }
}