<div id="main">
    <div class="login-box">
        <p>Connecter vous sur {{ title }}</p>

        <div>
            <mat-form-field appearance="outline">
                <mat-label>saisir votre username</mat-label>
                <input [(ngModel)]="loginData.username" type="text" matInput placeholder="username">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline">
                <mat-label>saisir votre mot de passe</mat-label>
                <input type="password" [(ngModel)]="loginData.password" matInput placeholder="password">
            </mat-form-field>
        </div>

        <div>
            <button mat-stroked-button (click)="testApi()"
                [disabled]="!loginData.username || !loginData.password || loading">Warn</button>
        </div>

        <br>

        <p *ngIf="userNotFound">Nom d'utilisateur ou mot de passe érroné.</p>

    </div>
    <div class="loader" *ngIf="loading">
        <img src="../../../assets/loader.svg" alt="loader">
    </div>
</div>
